@import url('https://fonts.googleapis.com/css2?family=Harmattan&family=Lateef&display=swap');
@font-face {
    font-family: 'Tajawal';
    src: url('Tajawal ExtraBold Regular.ttf') format('wttfoff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('Tajawal ExtraBold Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  } 
  @font-face {
    font-family: 'almohanad';
    src: url('ae-almohanad.ttf') format('wttfoff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('ae-almohanad.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
* {
  text-align: center;
  font-family: 'Lateef', cursive;
  font-size: 20px;
}

.btn-save {
  box-sizing: border-box;
  margin: 10px;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  cursor: pointer;
  background-color: #B99149;
  border-color: #B99149;
}
.btn-addName{
    box-sizing: border-box;
    margin: 20px;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    cursor: pointer;
    background-color: #B99149;
    border-color: #B99149; 
}
canvas {
  border: 1px solid black;
  width: 296px;
  height: 640px;
}
a{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
nav{
    background-color: #B99149;
}
#title{
    color: #21958C;
    margin: 2%;
    font-size: 1.5rem;
    font-family: "almohanad";
    margin-top: 5%;;
}
#name{
  display: inline;
  width: 90%;
  text-align: center;
}

